body {
    background-color: #f05a24;
    font-family: 'Old Standard TT', serif;
    ;}

.big-container {
    background-color: #f05a24;
    width: 45em;
    height: 53em;
    margin: 3em auto;
    border-radius: 30px;
}

.tittle {
background-color: #f05a24;
display: flex;
justify-content: center;
border-radius: 30px;

}

h1 {
    font-family: 'Old Standard TT', serif;
    font-size: 3em;
    font-weight: 100;
    letter-spacing: 5px;
    color: #000000;
    padding: 25px;
    margin: 0;
}

.buttons-container {
    background-color: #f05a24;
    width: 45em;
    height: 13%;
    display: flex;
    justify-content:space-evenly;
    align-items: center;
}

button {
    color: rgb(87, 87, 87);
    display: inline-block;
    width: 138px;
    height: 4em;
    background-color: #f05a24;
    border: 1px solid #fff;
    letter-spacing: 4px;
    color: #fff;
    
}


button:focus {
    background-color: rgba(255,255, 255, 0.3);
    outline: none;

}

button:hover {
    background-color:  rgba(255,255, 255, 0.3);;

}


#sketch-container {
    display: grid;
    align-items: stretch;
    width: 550px;
    height: 550px;
    margin: auto;
    margin-top: 30px;

}

.boxes {
    background-color: #f05a24;
    border: 0.5px solid #f2f7ff;
}

