body {
    background-image: url(./img/player.png);
    background-repeat: no-repeat;
    background-position-x: right;
    background-position-y: bottom;
    background-attachment: fixed;
    background-size: 40%;
    font-family: 'Smythe', cursive;
    ;}

.big-container {
    background-color: #f2f7ff;
    width: 45em;
    height: 53em;
    margin: 3em auto;
    border-radius: 30px;
}

.tittle {
background-color: #f2f7ff;
display: flex;
justify-content: center;
border-radius: 30px;
}

h1 {
    font-size: 5em;
    letter-spacing: 5px;
    color: #19c5af;
    text-shadow: 4px 4px #545461;
    padding: 0;
    margin: 0;
}

.buttons-container {
    background-color: #f2f7ff;
    width: 100%;
    height: 13%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

button {
    color: rgb(87, 87, 87);
    display: inline-block;
    width: 20%;
    height: 4em;
    background-color: #ffe4dc;
    border-radius: 20px;
    border: none;
}


button:focus {
    background-color: #f7bba9;
    border: none;
    outline: none;

}

button:hover {
    background-color: #f7bba9;

}


#sketch-container {
    display: grid;
    align-items: stretch;
    width: 550px;
    height: 550px;
    margin: auto;
    margin-top: 30px;

}

.boxes {
    background-color: rgb(255, 255, 255);
    border: 1px solid #f2f7ff;
}

